img {
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

h1 {
    text-align: center;  
}

.box_prop2 {
    display: flex;
    justify-content: space-around;
}

.box_envoyer {
    display: flex;
    justify-content: center;    
}